<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script>
  window.currentUserId = <%=@current_user_id%>;
  window.formAuthenticityToken = "<%= form_authenticity_token %>";
  window.CLOUDINARY_OPTIONS = {
    cloud_name: "<%=ENV['CLOUD_NAME']%>",
    upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
  };
</script>
<%= render "/shared/errors" %>
<div id="content">
</div>
