<div class="user-container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <div class="session-logo row">
        <div class="col-xs-8 logo">
          <h1>lyfecoach</h1>
        </div>
      </div>

      <form action="<%=users_url%>" method="post">
        <%= auth_token %>

        <div class="form-group">
          <label for="first_name">First Name</label>
          <input class="form-control"
                 id="first_name"
                 type="text"
                 name="user[first_name]"
                 value="<%=@user.first_name%>"/>
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input class="form-control"
                 id="last_name"
                 type="text"
                 name="user[last_name]"
                 value="<%=@user.last_name%>"/>
        </div>

        <div class="form-group">
          <label for="host_name">Alias</label>
          <input class="form-control"
                 id="host_name"
                 type="text"
                 name="user[host_name]"
                 value="<%=@user.host_name%>"
                 placeholder="What will be your host name?"/>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control"
                 id="email"
                 type="text"
                 name="user[email]"
                 value="<%=@user.email%>"/>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control"
                 id="password"
                 type="password"
                 name="user[password]"/>
        </div>

        <button class="btn btn-primary sign-up-button" type="submit">Sign Up</button>
      </form>

      <div class="or-sign-in">
        <%=link_to "Or, Sign in.", new_session_url%>
      </div>

      <div class="errors-container">
        <%= render "/shared/errors" %>
      </div>



    </div>
  </div>
</div>
