<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>lyfecoach</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBHe24_LJ1FPTws6P6RD4GUpBtyaBEBMQ&signed_in=true&libraries=places"></script>
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,300,300italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application'%>

</body>
</html>
