<!DOCTYPE html>
<html>
<head>
  <title>Lyfecoach</title>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBHe24_LJ1FPTws6P6RD4GUpBtyaBEBMQ&signed_in=true&libraries=places"
        async defer></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <!-- <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      cloud_name: "<%= ENV['CLOUD_NAME'] %>"
    };
  </script> -->
</head>
<body>

<%= yield %>

</body>
</html>
